body {
  padding-top: 70px;
}

.starter-template {
  text-align: center;
}

#pipe-img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto
}


#page-content {
  text-align: left; 
}


#content-container{

  border-top: solid 1px #fff;
  padding-top: 30px;
}

a.download-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 206px;
    height: 46px;

}
.user-guide-sidebar .nav>li>a {
  color: #999;
}


table   { 
  border: 1px solid black; 
  width: 500px;
}
td,th   { 
  border: 1px solid black; 
}
/*th      { width: 270px; }*/