<div class="col-md-4">
  <aside>
    <div>
      <a href="https://github.com/sarahtattersall/PIPE/zipball/master" class="btn btn-primary download-spacing">
        <span class="glyphicon glyphicon-download"></span>
        <small>Download</small>
        .zip file
      </a>
    </div>
    <div>
      <a href="https://github.com/sarahtattersall/PIPE/tarball/master" class="btn btn-primary download-spacing">
        <span class="glyphicon glyphicon-download"></span>
        <small>Download</small>
        .tar.gz file
      </a>
    </div>
    <div>
      <a href="https://github.com/sarahtattersall/PIPE" class="btn btn-primary download-spacing">

        <img src="images/GitHub-Mark-32px.png">
        View project on GitHub
      </a>
    </div>

    <p class="repo-owner"><a href="https://github.com/sarahtattersall/PIPE"></a> currently maintained by <a href="https://github.com/sarahtattersall">sarahtattersall</a>.</p> 
  </aside>
</div>