workingDir /vol/grail/users/grail_service/workingDir
dnamaca /vol/grail/users/grail_service/dnamaca/x64/bin/dnamaca
smarta /vol/grail/users/grail_service/gspn/gspn-run
moma /vol/grail/users/grail_service/gspn/gspn-moments-run
convo /vol/grail/users/grail_service/gspn/gspn-convolution-run
probininterval /vol/grail/users/grail_service/gspn/gspn-probininterval-run
percentile /vol/grail/users/grail_service/gspn/gspn-percentile-run
hydra /vol/grail/users/grail_service/hydra-s/hydra-s
maxprocessors 60